@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
  color: #0a0a0a;
}

.nav-active {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(
      90deg,
      #f472b6,
      #c084fc,
      #93c5fd,
      #67e8f9,
      #f472b6
    ) border-box;

  border: 2px solid transparent;
  border-radius: 12px;

  background-size: 100% 100%, 300% 100%;
  animation: border-move 4s linear infinite;

  color: black;
}

